*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
    background: #101111;
}

h1{
    color: white;
    text-align: left;
}
.form-registro{
    width: 95%;
    max-width: 500px;
    margin: auto;
    background: rgb(12, 1, 1);
    border: 4px solid crimson;
    box-shadow: 0 0 20px #4f9;
    padding-top: auto;
    margin-top: 80px;
    display: table;
}

.contenedor-inputs{
    padding: 10px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 20px;
    border: 1px solid deepskyblue;
}

.input-100{
    width: 100%;
}
        
input:focus{
    background-color: rgba(249, 248, 164);
    border:3px solid #000;
    }

.btn-send{
    background: crimson;
    color: white;
    margin: auto;
    padding: 10px 40px;
    border-radius: 35px;
    cursor:pointer;
    font-size: 20px;
}

.btn-send:active{
    transform: scale(1.2);
}

/*----------------Efecto espejo al h2---------------------*/
@import url(https://fonts.googleapis.com/css?family=Roboto:900);

* {
  padding: 0;
  margin: 0;
}

h2 {
  margin:10px 0;
  margin-bottom: 15px;
  text-align:center;
  color: crimson;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
    
}

.efecto-espejo {
 -webkit-box-reflect: below -25px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.5)));
}
/*----------------Efecto espejo al h2---------------------*/

